n8n_master_workflow.json
{
    "name": "Setter Solar Master Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-calendar",
                "options": {}
            },
            "id": "vapi-webhook",
            "name": "Webhook Vapi",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\n\n// Handle Vapi Tool Call OR Call Update (ended call with structured data)\nlet args = {};\nlet callId = '';\n\nif (body.message) {\n  const msg = body.message;\n  callId = msg.call?.id || '';\n  \n  if (msg.type === 'tool-calls') {\n    const toolCall = msg.toolCalls[0];\n    args = typeof toolCall.function.arguments === 'string' \n      ? JSON.parse(toolCall.function.arguments) \n      : toolCall.function.arguments;\n  } else if (msg.type === 'call-update' && msg.call?.status === 'ended') {\n    // This comes from the analysisPlan / structuredDataExtraction\n    args = msg.call.analysis?.structuredData || {};\n  }\n}\n\nreturn {\n  datetime: args.datetime,\n  clientName: args.clientName,\n  clientPhone: args.clientPhone,\n  leadId: args.leadId || args.lead_id,\n  callId: callId || args.callId\n};"
            },
            "id": "extract-data",
            "name": "Extract Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list"
                },
                "start": "={{ $json.datetime }}",
                "end": "={{ $json.datetime }}",
                "summary": "=Cita Solar: {{ $json.clientName }}",
                "description": "=Visita técnica concertada por la asistente virtual.\nCliente: {{ $json.clientName }}\nTeléfono: {{ $json.clientPhone }}\nLead ID: {{ $json.leadId }}",
                "additionalFields": {}
            },
            "id": "google-calendar",
            "name": "Google Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.1,
            "position": [
                800,
                200
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "new-oauth2-id-placeholder",
                    "name": "Google Calendar OAuth2-V2"
                }
            },
            "onError": "continue"
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "create",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "mn8z0l3b8h8ii9y",
                "dataToSend": "defineBelow",
                "fieldsToSend": {
                    "properties": [
                        {
                            "id": "Nombre Confirmado",
                            "name": "Nombre Confirmado",
                            "value": "={{ $json.clientName }}"
                        },
                        {
                            "id": "Teléfono Confirmado",
                            "name": "Teléfono Confirmado",
                            "value": "={{ $json.clientPhone }}"
                        },
                        {
                            "id": "Fecha Cita",
                            "name": "Fecha Cita",
                            "value": "={{ $json.datetime }}"
                        },
                        {
                            "id": "Vapi Call ID",
                            "name": "Vapi Call ID",
                            "value": "={{ $json.callId }}"
                        }
                    ]
                }
            },
            "id": "nocodb-insert-confirmed",
            "name": "NocoDB Confirmed",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                1000,
                300
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "authentication": "nocoDbApiToken",
                "operation": "update",
                "projectId": "p5xxqp29w9h8sb6",
                "table": "mf0wzufqcpi3bd1",
                "rowId": "={{ $json.leadId }}",
                "dataToSend": "defineBelow",
                "fieldsToSend": {
                    "properties": [
                        {
                            "id": "status",
                            "name": "status",
                            "value": "Cita Concertada"
                        },
                        {
                            "id": "notes",
                            "name": "notes",
                            "value": "=Asistenta agendó cita para el {{ $json.datetime }}"
                        }
                    ]
                }
            },
            "id": "nocodb-update-lead",
            "name": "NocoDB Update Lead",
            "type": "n8n-nodes-base.nocoDb",
            "typeVersion": 3,
            "position": [
                1200,
                300
            ],
            "credentials": {
                "nocoDbApiToken": {
                    "id": "tV5VwP4BVmME7Vgo",
                    "name": "NocoDB Token account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "{\n  \"success\": true,\n  \"message\": \"Cita agendada correctamente\",\n  \"datetime\": \"{{ $json.datetime }}\"\n}",
                "options": {}
            },
            "id": "webhook-response",
            "name": "Respond to Vapi",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                300
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 1
                        }
                    ]
                }
            },
            "id": "auto-schedule-trigger",
            "name": "Every 1 Min",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [
                400,
                600
            ],
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://optima-nocodb.vhsxer.easypanel.host/api/v2/tables/mf0wzufqcpi3bd1/records?limit=200&where=(status,eq,Programado)",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "xc-token",
                            "value": "vodwktZQ77mth3XeK290Fw8V9Axloe1LiOxsWn5d"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-leads-node",
            "name": "Get Programado Leads",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                600,
                600
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Extract leads from NocoDB response and filter only those that are due now\nconst input = $input.first().json;\nconst leads = input.list || [];\nconst now = new Date();\n\nconst dueLeads = leads.filter(lead => {\n  if (!lead.fecha_planificada) return false;\n  const plannedDate = new Date(lead.fecha_planificada);\n  return !isNaN(plannedDate.getTime()) && plannedDate <= now;\n});\n\nif (dueLeads.length === 0) {\n  return []; // No leads due — stop execution\n}\n\n// Return each due lead as a separate item for batch processing\nreturn dueLeads.map(lead => {\n  // Normalize phone number\n  let phone = String(lead.phone || '').replace(/\\D/g, '');\n  if (phone && !phone.startsWith('34')) phone = '34' + phone;\n  if (phone) phone = '+' + phone;\n\n  return {\n    json: {\n      leadId: lead.unique_id,\n      name: lead.name || 'Cliente',\n      phone: phone,\n      address: lead.address || 'su localidad',\n      email: lead.email || '',\n      assistant_id: lead.assistant_id || '',\n      fecha_planificada: lead.fecha_planificada\n    }\n  };\n});"
            },
            "id": "filter-due-leads",
            "name": "Filter Due Leads",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                600
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.vapi.ai/call",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer 0594f41c-e836-425d-aaa2-1c5b7d9e506e"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ customer: { number: $json.phone }, assistantId: $json.assistant_id || 'f3359bb0-7bc4-45c7-9a02-ca4793cc5d48', phoneNumberId: 'e774df77-8fd0-4a17-a815-2acf8b6e3c2b', assistantOverrides: { variableValues: { nombre: $json.name, empresa: $json.name, ciudad: $json.address, tel_contacto: $json.phone, correo_cliente: $json.email } } }) }}",
                "options": {}
            },
            "id": "launch-vapi-call",
            "name": "Launch Vapi Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                600
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://optima-nocodb.vhsxer.easypanel.host/api/v2/tables/m73w58ba47ifkrx/records",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "xc-token",
                            "value": "vodwktZQ77mth3XeK290Fw8V9Axloe1LiOxsWn5d"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ vapi_call_id: $json.id || 'unknown', lead_name: $('Filter Due Leads').item.json.name, phone_called: $('Filter Due Leads').item.json.phone, call_time: new Date().toISOString(), ended_reason: 'Call Initiated' }) }}",
                "options": {}
            },
            "id": "log-call-nocodb",
            "name": "Log Call to NocoDB",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                600
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "https://optima-nocodb.vhsxer.easypanel.host/api/v2/tables/mf0wzufqcpi3bd1/records",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "xc-token",
                            "value": "vodwktZQ77mth3XeK290Fw8V9Axloe1LiOxsWn5d"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify([{ unique_id: $('Filter Due Leads').item.json.leadId, status: 'Completado', fecha_planificada: null }]) }}",
                "options": {}
            },
            "id": "update-lead-status",
            "name": "Update Lead Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1400,
                600
            ],
            "onError": "continueRegularOutput"
        }
    ],
    "connections": {
        "Webhook Vapi": {
            "main": [
                [
                    {
                        "node": "Extract Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Data": {
            "main": [
                [
                    {
                        "node": "Google Calendar",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "NocoDB Confirmed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NocoDB Confirmed": {
            "main": [
                [
                    {
                        "node": "NocoDB Update Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NocoDB Update Lead": {
            "main": [
                [
                    {
                        "node": "Respond to Vapi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Every 1 Min": {
            "main": [
                [
                    {
                        "node": "Get Programado Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Programado Leads": {
            "main": [
                [
                    {
                        "node": "Filter Due Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Due Leads": {
            "main": [
                [
                    {
                        "node": "Launch Vapi Call",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Launch Vapi Call": {
            "main": [
                [
                    {
                        "node": "Log Call to NocoDB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Call to NocoDB": {
            "main": [
                [
                    {
                        "node": "Update Lead Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}