n8n_master_workflow.json
{
    "name": "Setter Solar Master Workflow",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 1
                        }
                    ]
                }
            },
            "id": "auto-schedule-trigger",
            "name": "Every 1 Min",
            "type": "n8n-nodes-base.scheduleTrigger",
            "position": [400, 600],
            "typeVersion": 1.1
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://optima-nocodb.vhsxer.easypanel.host/api/v2/tables/mf0wzufqcpi3bd1/records?limit=200&where=(status,eq,Programado)",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "xc-token", "value": "vodwktZQ77mth3XeK290Fw8V9Axloe1LiOxsWn5d" }
                    ]
                },
                "options": {}
            },
            "id": "get-leads-node",
            "name": "Get Programado Leads",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [600, 600],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// ⚠️ BUSINESS HOURS GUARD: Only allow calls between 9:00 and 21:00 Europe/Madrid\nconst nowMadrid = new Date(new Date().toLocaleString('en-US', { timeZone: 'Europe/Madrid' }));\nconst currentHour = nowMadrid.getHours();\nif (currentHour < 9 || currentHour >= 21) {\n  return []; // Outside business hours — stop execution\n}\n\n// Extract leads from NocoDB response and filter only those that are due now\nconst input = $input.first().json;\nconst leads = input.list || [];\nconst now = new Date();\n\nconst dueLeads = leads.filter(lead => {\n  if (!lead.fecha_planificada) return false;\n  const plannedDate = new Date(lead.fecha_planificada);\n  return !isNaN(plannedDate.getTime()) && plannedDate <= now;\n});\n\nif (dueLeads.length === 0) {\n  return []; // No leads due — stop execution\n}\n\n// Calculate fecha_hoy and dia_semana in Madrid timezone\nconst fechaHoy = nowMadrid.toLocaleDateString('sv-SE');\nconst diaSemana = nowMadrid.toLocaleDateString('es-ES', { weekday: 'long' });\n\n// Return each due lead as a separate item for batch processing\nreturn dueLeads.map(lead => {\n  // Normalize phone number\n  let phone = String(lead.phone || '').replace(/\\\\D/g, '');\n  if (phone && !phone.startsWith('34')) phone = '34' + phone;\n  if (phone) phone = '+' + phone;\n\n  return {\n    json: {\n      leadId: lead.unique_id,\n      leadRowId: lead.Id,\n      name: lead.name || 'Cliente',\n      phone: phone,\n      address: lead.address || lead.Localidad || 'su localidad',\n      email: lead.email || '',\n      assistant_id: lead.assistant_id || '',\n      fecha_planificada: lead.fecha_planificada,\n      fecha_hoy: fechaHoy,\n      dia_semana: diaSemana\n    }\n  };\n});"
            },
            "id": "filter-due-leads",
            "name": "Filter Due Leads",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [800, 600]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "batch-calls",
            "name": "One at a Time",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [1000, 600]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.vapi.ai/call",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "Authorization", "value": "Bearer 0594f41c-e836-425d-aaa2-1c5b7d9e506e" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ customer: { number: $json.phone }, assistantId: $json.assistant_id || 'f3359bb0-7bc4-45c7-9a02-ca4793cc5d48', phoneNumberId: 'ee153e9d-ece6-4469-a634-70eaa6e083c4', assistantOverrides: { variableValues: { nombre: $json.name, empresa: $json.name, ciudad: $json.address, tel_contacto: $json.phone, correo_cliente: $json.email, leadId: $json.leadId, fecha_hoy: $json.fecha_hoy, dia_semana: $json.dia_semana } } }) }}",
                "options": {}
            },
            "id": "launch-vapi-call",
            "name": "Launch Vapi Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1200, 600],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Validate Vapi call response — only proceed if we got a real call ID\nconst vapiResponse = $input.first().json;\nconst callId = vapiResponse.id || '';\nconst leadData = $('One at a Time').item.json;\n\n// Check if Vapi actually created the call\nif (!callId || callId === 'unknown' || callId.length < 10) {\n  return {\n    json: {\n      callSuccess: false,\n      vapiCallId: 'FAILED',\n      leadRowId: leadData.leadRowId,\n      leadId: leadData.leadId,\n      name: leadData.name,\n      phone: leadData.phone,\n      error: vapiResponse.message || vapiResponse.error || 'No call ID returned'\n    }\n  };\n}\n\n// Call succeeded\nreturn {\n  json: {\n    callSuccess: true,\n    vapiCallId: callId,\n    leadRowId: leadData.leadRowId,\n    leadId: leadData.leadId,\n    name: leadData.name,\n    phone: leadData.phone\n  }\n};"
            },
            "id": "check-call-success",
            "name": "Check Call Success",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1400, 600]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "call-success-check",
                            "leftValue": "={{ $json.callSuccess }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-call-succeeded",
            "name": "Call Succeeded?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [1600, 600]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://optima-nocodb.vhsxer.easypanel.host/api/v2/tables/m73w58ba47ifkrx/records",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "xc-token", "value": "vodwktZQ77mth3XeK290Fw8V9Axloe1LiOxsWn5d" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ vapi_call_id: $json.vapiCallId, lead_name: $json.name, phone_called: $json.phone, call_time: new Date().toISOString(), ended_reason: 'Call Initiated' }) }}",
                "options": {}
            },
            "id": "log-call-nocodb",
            "name": "Log Call to NocoDB",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1800, 500],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "https://optima-nocodb.vhsxer.easypanel.host/api/v2/tables/mf0wzufqcpi3bd1/records",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "xc-token", "value": "vodwktZQ77mth3XeK290Fw8V9Axloe1LiOxsWn5d" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify([{ Id: $('Check Call Success').first().json.leadRowId, status: 'Llamando...', fecha_planificada: null }]) }}",
                "options": {}
            },
            "id": "update-lead-success",
            "name": "Update Lead (Success)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [2000, 500],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "https://optima-nocodb.vhsxer.easypanel.host/api/v2/tables/mf0wzufqcpi3bd1/records",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        { "name": "xc-token", "value": "vodwktZQ77mth3XeK290Fw8V9Axloe1LiOxsWn5d" },
                        { "name": "Content-Type", "value": "application/json" }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify([{ Id: $json.leadRowId, status: 'Fallido', fecha_planificada: null }]) }}",
                "options": {}
            },
            "id": "update-lead-failed",
            "name": "Update Lead (Failed)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1800, 750],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "amount": 15,
                "unit": "seconds"
            },
            "id": "wait-between-calls",
            "name": "Wait 15s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [2200, 500]
        }
    ],
    "connections": {
        "Every 1 Min": {
            "main": [
                [{ "node": "Get Programado Leads", "type": "main", "index": 0 }]
            ]
        },
        "Get Programado Leads": {
            "main": [
                [{ "node": "Filter Due Leads", "type": "main", "index": 0 }]
            ]
        },
        "Filter Due Leads": {
            "main": [
                [{ "node": "One at a Time", "type": "main", "index": 0 }]
            ]
        },
        "One at a Time": {
            "main": [
                [{ "node": "Launch Vapi Call", "type": "main", "index": 0 }],
                []
            ]
        },
        "Launch Vapi Call": {
            "main": [
                [{ "node": "Check Call Success", "type": "main", "index": 0 }]
            ]
        },
        "Check Call Success": {
            "main": [
                [{ "node": "Call Succeeded?", "type": "main", "index": 0 }]
            ]
        },
        "Call Succeeded?": {
            "main": [
                [{ "node": "Log Call to NocoDB", "type": "main", "index": 0 }],
                [{ "node": "Update Lead (Failed)", "type": "main", "index": 0 }]
            ]
        },
        "Log Call to NocoDB": {
            "main": [
                [{ "node": "Update Lead (Success)", "type": "main", "index": 0 }]
            ]
        },
        "Update Lead (Success)": {
            "main": [
                [{ "node": "Wait 15s", "type": "main", "index": 0 }]
            ]
        },
        "Wait 15s": {
            "main": [
                [{ "node": "One at a Time", "type": "main", "index": 0 }]
            ]
        },
        "Update Lead (Failed)": {
            "main": [
                [{ "node": "Wait 15s", "type": "main", "index": 0 }]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}